<nav class="navbar custom-navbar navbar-expand">
    <div class="d-flex justify-content-between align-items-center">
        <ul class="navbar-nav flex-row w-100 justify-content-between">
            <a class="nav-item">CHERRYBLOOM</a>
            <li class="nav-item">
                <a href="/update" class="nav-link">Update Information</a>
            </li>
            <li class="nav-item">
                <a href="/calorie_count" class="nav-link">Calorie Count</a>
            </li>
            <li class="nav-item">
                <a href="/sport" class="nav-link">Sport</a>
            </li>
            <li class="nav-item">
                <a href="/water_tracking" class="nav-link">Water Tracking</a>
            </li>
            <li class="nav-item">
                <a href="/menstrual_cycle_tracking" class="nav-link">Menstrual Cycle Tracking</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">Çıkış</a>
            </li>
        </ul>
    </div>
</nav>


